body {
  /* font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px; */
}

ol, ul {
  padding-left: 20px;
}

#container {
  margin: 20px;
}

#utilSim {
  display: flex;
}

#gridCanvas {
  border: 1px solid black;
  cursor: crosshair;
}

#controlPanel {
  flex: 1;
  margin-left: 10px;
}

.smallText {
  font-size: 0.7rem;
}